In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
credit_data = pd.read_csv('creditcard.csv', nrows=50000)

In [3]:
credit_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
credit_data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,...,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,28923.779620,-0.242344,0.010316,0.692829,0.185482,-0.258043,0.105202,-0.120580,0.053704,0.120198,...,-0.028909,-0.106878,-0.039899,0.008362,0.135912,0.020885,0.004915,0.004232,93.266587,0.002960
std,13116.563925,1.887731,1.629766,1.508700,1.400009,1.412611,1.311299,1.282493,1.223824,1.213120,...,0.736011,0.637858,0.589736,0.594216,0.439013,0.501260,0.388101,0.334785,253.010040,0.054326
min,0.000000,-56.407510,-72.715728,-32.965346,-5.172595,-42.147898,-26.160506,-26.548144,-41.484823,-9.283925,...,-20.262054,-8.593642,-26.751119,-2.836627,-7.495741,-1.577118,-8.567638,-9.617915,0.000000,0.000000
25%,21893.500000,-0.992599,-0.564348,0.216729,-0.721295,-0.867721,-0.635255,-0.606146,-0.146744,-0.614300,...,-0.231454,-0.529526,-0.178930,-0.321902,-0.127945,-0.330577,-0.063231,-0.006699,7.627500,0.000000
50%,33471.500000,-0.245008,0.078253,0.795902,0.191131,-0.289438,-0.150443,-0.077294,0.058736,0.010464,...,-0.068160,-0.082056,-0.051642,0.062302,0.175743,-0.071973,0.009035,0.022174,25.000000,0.000000
75%,38983.000000,1.155544,0.731591,1.430980,1.067868,0.283011,0.495431,0.423920,0.332187,0.815765,...,0.108087,0.307440,0.078620,0.401568,0.422121,0.300405,0.083875,0.076303,85.250000,0.000000
max,44299.000000,1.960497,18.183626,4.101716,16.491217,34.801666,22.529298,36.677268,20.007208,10.392889,...,22.614889,5.805795,17.297845,4.014444,5.525093,3.517346,11.135740,33.847808,12910.930000,1.000000

In [5]:
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    50000 non-null  int64
 1   V1      50000 non-null  float64
 2   V2      50000 non-null  float64
 3   V3      50000 non-null  float64
 4   V4      50000 non-null  float64
 5   V5      50000 non-null  float64
 6   V6      50000 non-null  float64
 7   V7      50000 non-null  float64
 8   V8      50000 non-null  float64
 9   V9      50000 non-null  float64
 10  V10     50000 non-null  float64
 11  V11     50000 non-null  float64
 12  V12     50000 non-null  float64
 13  V13     50000 non-null  float64
 14  V14     50000 non-null  float64
 15  V15     50000 non-null  float64
 16  V16     50000 non-null  float64
 17  V17     50000 non-null  float64
 18  V18     50000 non-null  float64
 19  V19     50000 non-null  float64
 20  V20     50000 non-null  float64
 21  V21     50000 non-null  float64
 22  V22     50000 non-null  float64
 23  V23     50000 non-null  float64
 24  V24     50000 non-null  float64
 25  V25     50000 non-null  float64
 26  V26     50000 non-null  float64
 27  V27     50000 non-null  float64
 28  V28     50000 non-null  float64
 29  Amount  50000 non-null  float64
 30  Class   50000 non-null  int64
dtypes: float64(29), int64(2)
memory usage: 11.8 MB

In [7]:
credit_data['Class'].value_counts()

0    49852
1      148
Name: Class, dtype: int64

We separate features from labels.

In [9]:
X = credit_data.drop(['Time', 'Amount'], axis=1)
y = credit_data['Class']

### Observations

* Data is highly imbalanced
* Time column is not required
* Class column is label
* Except Amount all other columns are centred. 
* We need to do various sampling on the data.

## Sampling

As the data is highly imbalanced, we use sampling techniques to make it more balanced.

In [13]:
from imblearn.over_sampling import SMOTE
from imblearn.combine import SMOTEENN

## Choosing Estimators
* SGDClassifier
* Random Forest Classifier
* Support Vector Machines

In [14]:
from imblearn.pipeline import make_pipeline

In [17]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler

In [31]:
models = [SGDClassifier(), RandomForestClassifier(), SVC()]
samplers = [SMOTE(), SMOTEENN()]

In [32]:
model_pipelines = []

for model in models:
    for sampler in samplers:
        pipeline = make_pipeline(StandardScaler(), sampler, model)
        model_pipelines.append(pipeline)

In [33]:
model_pipelines

[Pipeline(steps=[('standardscaler', StandardScaler()), ('smote', SMOTE()),
                 ('sgdclassifier', SGDClassifier())]),
 Pipeline(steps=[('standardscaler', StandardScaler()), ('smoteenn', SMOTEENN()),
                 ('sgdclassifier', SGDClassifier())]),
 Pipeline(steps=[('standardscaler', StandardScaler()), ('smote', SMOTE()),
                 ('randomforestclassifier', RandomForestClassifier())]),
 Pipeline(steps=[('standardscaler', StandardScaler()), ('smoteenn', SMOTEENN()),
                 ('randomforestclassifier', RandomForestClassifier())]),
 Pipeline(steps=[('standardscaler', StandardScaler()), ('smote', SMOTE()),
                 ('svc', SVC())]),
 Pipeline(steps=[('standardscaler', StandardScaler()), ('smoteenn', SMOTEENN()),
                 ('svc', SVC())])]

Split the data to training and test sets.

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
train_X, test_X, train_y, test_y = train_test_split(X, y)

In [36]:
for pipeline in model_pipelines:
    pipeline.fit(train_X, train_y)